In [35]:
import pandas as pd

In [36]:
lister=['+', '1', '0', '3', 'tcp', '40', '-', '-', '-', '-', '-', '-', '-', '0', '0.0', '8.0', '0', '0']

In [37]:
s0 = pd.Series(lister[0])
s1 = pd.Series(lister[1])
s2 = pd.Series(lister[2])
s3 = pd.Series(lister[3])
s4 = pd.Series(lister[4])
s5 = pd.Series(lister[5])
s6 = pd.Series(lister[6])
s7 = pd.Series(lister[7])
s8 = pd.Series(lister[8])
s9 = pd.Series(lister[9])
s10 = pd.Series(lister[10])
s11 = pd.Series(lister[11])
s12 = pd.Series(lister[12])
s13 = pd.Series(lister[13])
s14 = pd.Series(lister[14])
s15 = pd.Series(lister[15])
s16 = pd.Series(lister[16])
s17 = pd.Series(lister[17])

In [38]:
data={"Event":s0,"Time":s1,"From node":s2,"To node":s3,"pkt Type":s4,"pkt size":s5,"E:ECN":s6,"P":s7,"NAN":s8,"A":s9,"E":s10,"F":s11,"N":s12,"Flow id":s13,"source":s14,"destination":s15,"sequence no":s16,"packet unique id":s17}

In [40]:
dfseries0 = pd.DataFrame(data)

In [41]:
dfseries

,Event,Time,From node,To node,pkt Type,pkt size,E:ECN,P,NAN,A,E,F,N,Flow id,source,destination,sequence no,packet unique id
0,+,1,0,3,tcp,40,-,-,-,-,-,-,-,0,0.0,8.0,0,0

In [42]:
data1={"Event":s0,"Time":s1,"From node":s2,"To node":s3,"pkt Type":s4,"pkt size":s5,"E:ECN":s6,"P":s7,"NAN":s8,"A":s9,"E":s10,"F":s11,"N":s12,"Flow id":s13,"source":s14,"destination":s15,"sequence no":s16,"packet unique id":s17}

In [43]:
dfseries1 = pd.DataFrame(data)

In [45]:
merged_df = pd.concat([dfseries0, dfseries1],ignore_index=True)

In [46]:
merged_df

,Event,Time,From node,To node,pkt Type,pkt size,E:ECN,P,NAN,A,E,F,N,Flow id,source,destination,sequence no,packet unique id
0,+,1,0,3,tcp,40,-,-,-,-,-,-,-,0,0.0,8.0,0,0
1,+,1,0,3,tcp,40,-,-,-,-,-,-,-,0,0.0,8.0,0,0

In [47]:
dfseries2 = pd.DataFrame(data)

In [48]:
df = pd.concat([merged_df,dfseries2],ignore_index=True)

In [49]:
df

,Event,Time,From node,To node,pkt Type,pkt size,E:ECN,P,NAN,A,E,F,N,Flow id,source,destination,sequence no,packet unique id
0,+,1,0,3,tcp,40,-,-,-,-,-,-,-,0,0.0,8.0,0,0
1,+,1,0,3,tcp,40,-,-,-,-,-,-,-,0,0.0,8.0,0,0
2,+,1,0,3,tcp,40,-,-,-,-,-,-,-,0,0.0,8.0,0,0